.grid-left-side
{
  text-align:left;
  padding-left:4px;
  padding-top:14px;
  padding-right:14px;
  padding-bottom:0px;
  grid-area:left-side;
  color:white;
  
}
.grid-right-side
{
  text-align:right;
  padding:26px;
  grid-area:right-side;
  color:white;
  font-size: 22px;
}
.grid-rightmost-side
{
  text-align:right;
  padding: 26px;
  grid-area:rightmost-side;
  color:white;
  font-size: 22px;
}
.grid-center
{
  text-align:center;
  padding:26px;
  grid-area:center-side;
  color:white;
  font-size: 22px;
}
.grid-container
{
  display:grid;
  grid-template-areas:'left-side center-side center-side center-side center-side center-side center-side center-side center-side center-side  right-side rightmost-side';
  background-color: black;
}

@media screen and (max-width:800px)
{
  .grid-container
  {
    display:grid;
    grid-template-areas:'left-side center-side center-side right-side right-side rightmost-side';
    background-color: black;
  }
  .grid-left-side,.grid-rightmost-side,.grid-right-side,.grid-center
{
  padding: 4px;
}
.grid-right-side
{
  text-align: center;
}
/* .grid-rightmost-side
{
  padding-top: 14px;
} */
.grid-left-side
{
  padding-top: 7px;
}
}